<h1>Bonjour ! Confirmez votre adresse e-mail svp !</h1>

<p>
    confirmez votre adresse e-mail en cliquant sur le lien suivant svp: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
