{% extends "base.html.twig" %}
{% block title %}CGV{% endblock %}
{% block body %}
  <!--Navbar-->
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Accueil</a>
                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="commandez">Achetez le pack de démarage</a>
                            </li>
                            <li class="nav-item">
                                <a id="CGV" class="nav-link active"  href="cgv">Conditions générales de vente</a>
                            </li>
                            <li class="nav-item">
                                <a id="RGPD" class="nav-link" aria-current="page" href="rgpd">Réglementation concernant les données personnelles</a>
                            </li>
                            <li class="nav-item">
                                <a id="contact" class="nav-link" aria-current="page" href="contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a id="connecter" class="nav-link" aria-current="page" href="register">login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
  {% block main %}
    <main>
      <section>
        <h1>Conditions générales de vente</h1>
        <br/>
        <ol>
          <li>le prix unitaire du pack de démarage est de <span id="price"></span>.</li>
          <li>le paiement sera efféctué à <span class="name"></span> dont voici les coordonées : Nom de la micro-entreprise : <span id="companyName"></span>, numéro de siret : <span id="siret"></span>, adresse : <span id="address"></span>, adresse e-mail : <span id="email"></span>, numéro de téléphone : <span id="telephone"></span></li>
          <li>mode de paiement : le paiement s'effectura par carte bancaire uniquement.</li>
          <li>délai de rétractation : vous disposez d'un délai de 14 jours pour vous rétracter et demander un remboursement. 
          Au delà de ce délai aucun remboursement ne sera effectué. Pour demandez un remboursement, allez dans la rubrique contact et envoyez un e-mail demandant le remboursement.</li>
          <li>Une fois le paiement effectué et valide, vous recevrez un e-mail contenant le pack de démarage 
          ainsi que la facture.</li>
          <li>la TVA est non applicable, ART.293B du CGI.</li>
          <li><span class="name"></span> est le responsable  du site web et <span id="host"></span> en est l'hébergeur.</li>
        </ol>
      </section>
    </main>
  {% endblock %}
{% endblock %}
