{% extends "base.html.twig" %}
{% block title %}Achetez{% endblock %}

{% block body%}
{% block javascripts %}<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
  <header>
  <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Accueil</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/profile/commandez">Achetez le pack de démarrage</a>
            </li>
            <li class="nav-item">
              <a id="CGV" class="nav-link" href="/cgv">Conditions générales de vente</a>
            </li>
            <li class="nav-item">
              <a id="RGPD" class="nav-link" aria-current="page" href="/rgpd">Réglementation concernant les données personnelles</a>
            </li>
            <li class="nav-item">
              <a id="contact" class="nav-link" aria-current="page" href="/profile/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a id="connecter" class="nav-link" aria-current="page" href="/register">s'enregistrer</a>
            </li>
            <li class="nav-item">
              <a id="login" class="nav-link" aria-current="page" href="/login">se connecter/se déconnecter</a>
            </li>
            <li class="nav-item">
              <a id="user" class="nav-link" aria-current="page" href="/profile/user">mon espace</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <div class="product text-center">
        <div class="img">
          <img id="pack" src="{{asset('images/pack.png')}}" alt="pack" />
        </div>
        <div class="description">
          <h3>Pack de démarrage</h3>
          <h5>29.99 euros</h5>
        </div>
      </div>
      <form class="text-center" action="/create-checkout-session.php" method="POST">
        <button class="btn btn-success" type="submit" id="checkout-button">Acheter</button>
      </form>
    </section>
  </main>
{% endblock %} 


  
    
