<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connecter</title>

  <!--bootstrap and css link-->
  <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css"/>
  <link href="{{asset('css/styles.css')}}" rel="stylesheet" type="text/css"/>

</head>

<body>
  <!--Navbar-->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Accueil</a>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="commandez">Commandez le pack de démarage</a>
          </li>
          <li class="nav-item">
            <a id="CGV" class="nav-link" href="cgv">Conditions générales de vente</a>
          </li>
          <li class="nav-item">
            <a id="RGPD" class="nav-link" aria-current="page" href="rgpd">Réglementation concernant les données personnelles</a>
          </li>
          <li class="nav-item">
            <a id="contact" class="nav-link" aria-current="page" href="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a id="connecter" class="nav-link active" aria-current="page" href="register">Mon espace personnel</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <section>
      <h2>Connectez-vous</h2>
      <form method="POST" action="{{asset('subscribe.php')}}">
        <label for="email" class="form-label">E-mail</label>
        <input class="form-control" id="email" type="email" name="email" placeholder="Entrez votre adresse e-mail" required/>
        <label for="password" class="form-label">Password</label>
        <input class="form-control" id="password" type="text" name="password" required/>
        <br/>
        <button class="send-button btn-primary" id="submit" type="submit">Envoyer</button>
      </form>
    </section>
    <section>
      <h1>Ou inscrivez-vous</h1>
      <form method="POST" action="{{asset('subscribe.php')}}">
        <label for="name" class="form-label">Nom</label>
        <input class="form-control" id="name" type="text" name="name" required/>
        <label for="firstname" class="form-label">Prénom</label>
        <input class="form-control" id="firstname" type="text" name="firstname" required/>
        <label for="email" class="form-label">E-mail</label>
        <input class="form-control" id="email" type="email" name="email" placeholder="Entrez votre adresse e-mail" required/>
        <label for="password" class="form-label">Password</label>
        <input class="form-control" id="password" type="text" name="password" required/>
        <br/>
        <button class="send-button btn-primary" id="submit" type="submit">Envoyer</button>
      </form>
    </section>
  </main>
</body>
</html>