{% extends "base.html.twig" %}
{% block title %}RGPD{% endblock %}
{% block body %}
  <header>
    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Accueil</a>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/profile/commandez">Achetez le pack de démarrage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cgv">Conditions générales de vente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/rgpd">Réglementation concernant les données personnelles</a>
            </li>
            <li class="nav-item">
              <a id="contact" class="nav-link" aria-current="page" href="/profile/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a id="connecter" class="nav-link" aria-current="page" href="/register">s'enregistrer</a>
            </li>
            <li class="nav-item">
              <a id="login" class="nav-link" aria-current="page" href="/login">se connecter/se déconnecter</a>
            </li>
            <li class="nav-item">
              <a id="user" class="nav-link" aria-current="page" href="/profile/user">mon espace</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section>
      <h1>Réglement général sur la protection des données</h1>
      <br/>
      <ol>
        <li>Voici la liste des données personnelles qui vous sont demandées : Nom, Prénom, adresse e-mail, données de carte bancaire.</li>
        <li>Les données qui vous sont demandées servent au paiement du pack de démarrage, à son envoie par e-mail et à la réalisation de la facture. 
        Cette dernière doit comporter un numéro de facture, votre nom et prénom, un moyen  de vous contacter (votre adresse e-mail), la date d'achat, la designation du produit, la quantité, le prix, la monnaie, 
        les références de l'entreprise qui vous émet la facture (Nom, adresse, téléphone, e-mail, N° siret, code APE, la mention : la TVA est non applicable, ART.293B du CGI). </li>
        <li>Les données sont conservées 10 ans en archivage intermediaire en application du Code de commerce et sont ensuite supprimées.</li>
        <li>Pour toutes questions relatives à vos données personnelles, contactez {{ admin_name }} en allant dans la rubrique contact. Vous obtiendrez une réponse dans un délai maximum d'un mois.</li>
      </ol>
    </section>
  </main>
{% endblock %}